.header {
  background-color: $colorVerde;
  @include mixinFlex(flex, center, space-around);

  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  figure {
  }
  .img2 {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  h1 {
    font-family: $font-stack;
  }
}

nav {
  ul {
    width: 350px;
    gap: 15px;
    list-style: none;
    @include mixinFlex(flex, center, center);

    li {
      a {
        font-size: 20px;
      }
    }
  }
}
body {
  background-color: blue;
}
